@font-face {
    font-family: Bellota;
    src: url('../fonts/Bellota-Regular.ttf');
}


html, body {
    /* background: linear-gradient(0deg, #FAFAFA, #EDF2F7) !important; */
    /* background-color: #EDF2F7; */
    background-color: #F7FAFC;
    font-size: .975rem;
}


.btn-blue {
    background-color: #003554 !important;
    color: white
}

.btn-dark-blue {
    background-color: #012c46 !important;
    color: white !important;
}

.btn-green {
    background-color: #0e5400 !important;
    color: white
}

.bg-blue { background-color: #003554 !important }
.bg-gray {
    background-color: #6c757d79;
}
.text-blue { color: #003554 !important }

#app { min-height: 150vh; }
#app-menu { background-color: #FFF !important; }
#app-content { flex: 1; }



/* large screens */
@media (min-width: 992px) {

    #app {
        display: flex;
        flex-direction: row;
    }

    #app-menu {
        max-width: 20vw;
        min-width: 350px;
        border-right: 1px solid #dee2e6;
    }

    #menu-list {
        padding-right: 16px;
        max-height: 100vh;
        overflow-y: auto
    }

}



/* small screens */
@media (max-width: 991.98px) {

    #app-menu {
        border-bottom: 1px solid #dee2e6;
        display: none;
    }

    #menu-list {
        max-height: 30vh;
        min-height: 250px;
        overflow-y: auto
    }

}


/* .container {
    max-width: 960px !important;
} */