html, body {
    background: linear-gradient(0deg, #FFF, #EDF2F7) !important;
}



.bg-blue { background-color: #003554 !important }
.text-blue { color: #003554 !important }

#app { min-height: 150vh; }
#app-menu { background-color: #FFF !important; }
#app-content { flex: 1; }



/* large screens */
@media (min-width: 992px) {

    #app {
        display: flex;
        flex-direction: row;
    }

    #app-menu {
        max-width: 25vw;
        min-width: 300px;
    }

    #menu-list {
        padding-right: 16px;
        max-height: 50vh;
        overflow-y: auto
    }

}



/* small screens */
@media (max-width: 991.98px) {

    #menu-list {
        max-height: 30vh;
        min-height: 250px;
        overflow-y: auto
    }

}
